<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style>
blockquote {
	border-color: green;
}

body {
	background-image: url('/img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

</style>
<title>Lista de Usuários</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<div class="row">
			<div>
				<div class="card">
					<div class="card-content">
						<span class="card-title"><strong>Editar a função
								do usuário</strong></span>
					</div>
				</div>
			</div>
		</div>
		

		<div class="card">
			<div class="card-content">
				<div class="row">
					<form action="#"
						th:action="@{/admin/usuarios/{id}(id=${usuario.id})}"
						th:object="${usuario}" method="post">
						<input type="hidden" th:field="${id}">
						<blockquote>
							<div class="row">
								<div class="col s2">Nome:</div>
								<div class="col s10">
									<span th:text="${usuario.nome}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col s2">Matrícula:</div>
								<div class="col s10">
									<span th:text="${usuario.matricula}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col s2">Email:</div>
								<div class="col s10">
									<span th:text="${usuario.email}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col s2">Funções:</div>
								<div class="col s10">
									<div th:each="papel : ${papeis}" class="switch">
										<div class="row">
											<label> <input type="checkbox" th:field="*{roles}"
												th:value="${papel.id}" /> <span class="lever"></span> <span
												th:text="${papel.nome}"></span>
											</label>
										</div>
									</div>
								</div>
							</div>
						</blockquote>
						<div class="row">
							<div class="col">
								<button class="btn green" type="submit">Alterar</button>
							</div>
							<div class="col">
								<a class="btn green" th:href="@{/admin/usuarios}">Cancelar</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{menu :: rodape}"></div>

	<div th:replace="~{menu :: javascript}"></div>
</body>
</html>