<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style>

body {
	background-image: url('/img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}

</style>
<title>Lista de Usuários</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">
		<div class="row">
			<div class="card">
				<div class="card-content">
					<span class="card-title"><strong>Usuários
							Cadastrados</strong></span>
				</div>
			</div>
		</div>
		
		<div class="card green lighten-2" th:if="${mensagem}">
			<p class="card-content green lighten-2 z-depth-1"
				style="color: white" th:text="${mensagem}"></p>
		</div>

		<div class="card">
			<div class="card-content">
				<div class="row">
					<form th:action="@{/admin/usuarios}" method="get">
						<div class="col s6">
							<input type="text" name="filter" placeholder="Nome"
								required="required" th:value="${param.filter}"
								autofocus="autofocus">
						</div>
						<div class="col s1">
							<button class="btn green" type="submit">Procurar</button>
						</div>
					</form>
				</div>
				<div class="row">
					<table class="highlight">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Matrícula</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="usuario : ${usuarios}">
								<td th:text="${usuario.nome}"></td>
								<td th:text="${usuario.matricula}"></td>
								<td class="right-align"><a class="btn-flat tooltipped"
									data-position="bottom" data-tooltip="Editar função"
									th:href="@{/admin/usuarios/{id}(id=${usuario.id})}"><i
										class="material-icons">edit</i></a></td>
								<td class="right-align"><a class="btn-flat tooltipped"
									data-position="bottom" data-tooltip="Deletar usuário"
									th:href="@{/admin/usuarios/{id}/remover(id=${usuario.id})}"><i
										class="material-icons">delete</i></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{menu :: rodape}"></div>

	<div th:replace="~{menu :: javascript}"></div>
</body>
</html>