<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Alterar Senha</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<div class="card">
			<div class="card-content">
				<span class="card-title"><strong>Altere sua senha</strong></span>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<form action="/editarSenha" method="post" th:object="${usuario}">

					<div>
						<input type="hidden" th:field="*{id}" readonly="readonly">
					</div>

					<div class="row">
						<div class="col-12">
							<label>Nome completo</label> <input type="text"
								th:field="*{nome}" readonly="readonly">
							<p th:errors="*{nome}"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<label>Matrícula</label> <input type="number"
								th:field="*{matricula}" readonly="readonly">
							<p th:errors="*{matricula}"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<label>Email</label> <input type="text" th:field="*{email}" readonly="readonly">
							<p th:errors="*{email}"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<label>Senha</label> <input type="password" th:field="*{senha}">
							<p th:errors="*{senha}"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<input type="hidden" th:field="*{roles}" readonly="readonly">
						</div>
					</div>
					<div class="row">
						<button class="btn" type="submit">Cadastrar</button>
						<button class="btn" type="reset">Limpar</button>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
				</form>
			</div>
		</div>
	</div>

	<div th:replace="~{menu :: rodape}"></div>

	<div th:replace="~{menu :: javascript}"></div>
</body>
</html>