<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<title>Cadastro</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<div class="card">
			<div class="card-content">
				<span class="card-title"><strong>Preencha seus dados</strong></span>
			</div>
		</div>

		<div class="card green lighten-2" th:if="${mensagem}">
			<p class="card-content green lighten-2 z-depth-1"
				style="color: white" th:text="${mensagem}"></p>
		</div>
		
		<div class="card red lighten-2" th:if="${mensagemErro}">
			<p class="card-content red lighten-2 z-depth-1"
				style="color: white" th:text="${mensagemErro}"></p>
		</div>

		<div class="card">
			<div class="card-content">
				<form action="/cadastro" method="post" th:object="${usuario}">

					<div>
						<input type="hidden" th:field="*{id}" readonly="readonly">
					</div>

					<div class="row">
						<div class="col-12">
							<label>Nome completo</label> <input type="text"
								th:field="*{nome}">
							<p class="card-content red lighten-2 z-depth-1"
								style="color: white" th:errors="*{nome}"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<label>Matrícula</label> <input type="number"
								th:field="*{matricula}">
							<p class="card-content red lighten-2 z-depth-1"
								style="color: white" th:errors="*{matricula}"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<label>Email</label> <input type="text" th:field="*{email}">
							<p class="card-content red lighten-2 z-depth-1"
								style="color: white" th:errors="*{email}"></p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<label>Senha</label> <input type="password" th:field="*{senha}">
							<p class="card-content red lighten-2 z-depth-1"
								style="color: white" th:errors="*{senha}"></p>
						</div>
					</div>
					<div class="row">
						<button class="btn green" type="submit">Cadastrar</button>
						<button class="btn green" type="reset">Apagar</button>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
				</form>
			</div>
		</div>
	</div>

	<div th:replace="~{menu :: rodape}"></div>

	<div th:replace="~{menu :: javascript}"></div>
</body>
</html>