<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style>
body {
	background-image: url('/img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
<title>Projetos</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<div class="card">
			<div class="card-content">
				<span class="card-title"><strong>Detalhes do Projeto</strong></span>
			</div>
		</div>

		<div class="card green lighten-2" th:if="${mensagem}">
			<p class="card-content green lighten-2 z-depth-1"
				style="color: white" th:text="${mensagem}"></p>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Projeto</span>
						<p>
							<strong>Professor: </strong><span th:text="${projeto.nomeprof}"></span>
						</p>
						<p>
							<strong>Email: </strong><span th:text="${projeto.email}"></span>
						</p>
						<p>
							<strong>Nome do projeto: </strong><span th:text="${projeto.nome}"></span>
						</p>
						<p>
							<strong>Descrição do projeto: </strong><span
								th:text="${projeto.descricao}"></span>
						</p>
						<p>
							<span
								th:text="${#temporals.format(projeto.datatempo, 'dd/MM/yyyy HH:mm')}"></span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Inscrever-se no projeto:</span>
						<form
							th:action="@{/projetos/{idProjeto}(idProjeto = ${projeto.id})}"
							method="post" th:object="${inscrito}">
							<div>
								<label>Nome: </label> <input type="text" th:field="*{nome}">
								<p class="card-content red lighten-2 z-depth-1"
									style="color: white" th:errors="*{nome}"></p>
							</div>
							<div>
								<label>Email: </label> <input type="text" th:field="*{email}">
								<p class="card-content red lighten-2 z-depth-1"
									style="color: white" th:errors="*{email}"></p>
							</div>
							<div>
								<button type="submit" class="btn green">Inscrever</button>
								<button type="reset" class="btn green">Cancelar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12">
				<div class="card">
					<div class="card-content">
						<span class="card-title">Inscritos</span>
						<table class="highlight">
							<thead>
								<tr>
									<th>Nome</th>
									<th>Email</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="i : ${inscritos}">
									<td th:text="${i.nome}"></td>
									<td th:text="${i.email}"></td>
									<td><a class="btn-flat tooltipped" data-position="bottom"
										data-tooltip="Editar inscrito"
										th:href="@{/projetos/{idProjeto}/inscritos/{idInscrito}/selecionar(idProjeto=${projeto.id}, idInscrito=${i.id})}"
										sec:authorize="hasRole('ADMIN')"><i class="material-icons">create_new_folder</i></a>
										<a class="btn-flat tooltipped" data-position="bottom"
										data-tooltip="Excluir inscrito"
										th:href="@{/projetos/{idProjeto}/inscritos/{idInscrito}/remover(idProjeto=${projeto.id}, idInscrito=${i.id})}"
										sec:authorize="hasRole('ADMIN')"><i class="material-icons">clear</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:replace="~{menu :: rodape}"></div>

	<div th:replace="~{menu :: javascript}"></div>

</body>
</html>