<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style>
body {
	background-image: url('/img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
<title>Projetos</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>


	<div class="container">

		<div class="card">
			<div class="card-content">
				<span class="card-title"><strong>Adicionar Projetos</strong></span>
			</div>
		</div>

		<div class="card">
			<div class="card-content">
				<form action="#" th:action="@{/projetos}" method="post"
					th:object="${projeto}">

					<div>
						<input type="hidden" th:field="*{id}" readonly="readonly">
					</div>

					<div>
						<label>Nome do Projeto: </label> <input type="text"
							th:field="*{nome}">
						<p class="card-content red lighten-2 z-depth-1"
								style="color: white" th:errors="*{nome}"></p>
					</div>

					<div>
						<label>Seu nome: </label> <input type="text"
							th:field="*{nomeprof}">
						<p class="card-content red lighten-2 z-depth-1"
								style="color: white" th:errors="*{nomeprof}"></p>
					</div>

					<div>
						<label>Seu email: </label> <input type="text" th:field="*{email}">
						<p class="card-content red lighten-2 z-depth-1"
								style="color: white" th:errors="*{email}"></p>
					</div>

					<div>
						<label>Descrição do Projeto: </label> <input type="text"
							th:field="*{descricao}">
						<p class="card-content red lighten-2 z-depth-1"
								style="color: white" th:errors="*{descricao}"></p>
					</div>

					<div>
						<input type="hidden" th:field="*{datatempo}" readonly="readonly">
					</div>

					<div>
						<button class="waves-effect waves-light btn green" type="submit">Adicionar</button>
						<button class="waves-effect waves-light btn green" type="reset">Apagar</button>
					</div>

				</form>
			</div>
		</div>
	</div>

	<div th:replace="~{menu :: rodape}"></div>

	<div th:replace="~{menu :: javascript}"></div>
</body>
</html>