<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style>
body {
	background-image: url('/img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
}
</style>
<title>Projetos</title>
</head>
<body>
	<div th:replace="~{menu :: menu}"></div>

	<div class="container">

		<div class="card">
			<div class="card-content">
				<span class="card-title"><strong>Lista de Projetos</strong></span> <a
					th:href="@{/projetos/form}"
					class="waves-effect waves-light btn-small green"
					sec:authorize="hasAnyRole('ADMIN', 'PROFESSOR')"><i
					class="material-icons left">cloud</i>Adicionar Projeto</a>
			</div>
		</div>

		<div class="card green lighten-2" th:if="${mensagem}">
			<p class="card-content green lighten-2 z-depth-1"
				style="color: white" th:text="${mensagem}"></p>
		</div>

		<div class="card">
			<table class="highlight">

				<thead>
					<tr>
						<th>Projeto</th>
						<th>Professor</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="p : ${projetos}">
						<td th:text="${p.nome}"></td>
						<td th:text="${p.nomeprof}"></td>
						<td
							th:text="${#temporals.format(p.datatempo, 'dd/MM/yyyy HH:mm')}"></td>
						<td><a class="btn-flat tooltipped" data-position="bottom"
							data-tooltip="Ver detalhes"
							th:href="@{/projetos/{id}(id=${p.id})}"><i
								class="material-icons">search</i></a> <a class="btn-flat tooltipped"
							data-position="bottom" data-tooltip="Editar projeto"
							th:href="@{/projetos/{id}/selecionar(id=${p.id})}"
							sec:authorize="hasRole('ADMIN')"><i class="material-icons">create_new_folder</i></a>
							<a class="btn-flat tooltipped" data-position="bottom"
							data-tooltip="Excluir projeto"
							th:href="@{/projetos/{id}/remover(id=${p.id})}"
							sec:authorize="hasRole('ADMIN')"> <i class="material-icons">clear</i></a></td>

					</tr>
				</tbody>

			</table>
		</div>
	</div>

	<div th:replace="~{menu :: rodape}"></div>

	<div th:replace="~{menu :: javascript}"></div>

</body>
</html>