<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<style>
body {
	background-image: url('/img/background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right 20%;
}


.títuloDaPágina {
	text-align: center;
	color: white;
	font-size: 3em;
	position: absolute;
	width: 50%;
	left: 25%
}

</style>
<meta charset="UTF-8">
<title>Página Inicial</title>
</head>
<body>

	<div th:replace="~{menu :: menu}"></div>

		<p class="títuloDaPágina">
			Bem vindo a Central de Pesquisa e Extensão IFRN-Lajes
		</p>
		
	<div th:replace="~{menu :: javascript}"></div>
	
</body>
</html>